<h1> Hospitals </h1>
<% @Hospitals.each do |hospital| %>
<h3> <%= hospital.name%> </h3>
<p>Public Hospital: <%= hospital.public %> </p>
<p>Phone: (303) <%= hospital.phone %></p>
<p>Location City: <%= hospital.location %></p>

<% end %>